/* App.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.digital-clock {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 100px;
  background-color: #282c34;
  color: #61dafb;
}

.time {
  font-size: 126px;
  margin-bottom: 10px;
  font-weight: 900;
}

.date {
  font-size: 28px;
}
